:root {
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  margin-bottom: 5px;
}

button:enabled:hover,
input[type=file]:enabled:hover,
input[type=checkbox]:enabled:hover {
  cursor: pointer;
}

#file-processors {
  margin-top: 20px;
}

#partial-sheet-ui {
  margin-top: 30px;
}

#partial-sheets {
  margin-top: 10px;
}

.partial {
  border: 1px solid black;
  font-size: 0;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 20px;
  padding: 4px;
}

.partial > div > input {
  appearance: none;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 2px;
  width: 48px;
  height: 32px;
}

.partial > div > input:checked {
  border: none;
}
